@model IEnumerable<DMS.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_@item.Id"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Manage
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton_@item.Id">
                            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                            <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                            <li><a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                        </ul>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
