@model IEnumerable<DMS.Models.Desktop>

@{
    ViewData["Title"] = "Desktops";
}

<h1>Desktops</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered table-striped align-middle">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.DesktopName)</th>
            <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
            <th>@Html.DisplayNameFor(model => model.IssueReport)</th>
            <th>@Html.DisplayNameFor(model => model.Room)</th>
            <th>@Html.DisplayNameFor(model => model.User)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DesktopName?.Name</td>
                <td>@item.SerialNumber</td>
                <td>@item.IssueReport</td>
                <td>@item.Room?.Name</td> 
                <td>@(item.User != null ? item.User.FirstName + " " + item.User.MiddleName : " Not Assigned ")</td> 
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_@item.Id"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Manage
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton_@item.Id">
                            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                            <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                            <li><a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
